<include file="public/head"/>
    <title>添加商品-火箭商城管理系统</title>
    <style>
        body{
            background: #fff;
        }
        .wrap_img {
            width: 150px;
        }

        .wrap_img img {
            width: 100%;
        }

        .sku_item{
            background: #eee;margin: 10px;
        }

        .bg_white{
            background: #fff;
        }

        .sku_item .left_name{
            display: inline-block;
        }

        .sku_item .right_box{
            width: calc(100% - 100px);
            display: inline-block;
        }
        .sku_item .right_box input{
            width: 180px;
            max-width: 90%;
            display: inline-block;
        }

        .sku_item .right_box .layui-col-xs3{
            margin-top: 10px;
        }

        .sku_item .right_box .layui-col-xs3:nth-child(-n+4){
            margin-top: 0px;
        }

        .closeBtn{
            position: absolute;
            right: 15px;
            display: inline-block;
            width: 25px;
            height: 25px;
            background: #ddd;
            border-radius: 50%;
            line-height: 25px;
            text-align: center;
            color: #fff;
            top: 16px;
            cursor: pointer;
        }

        .addSkuBtn{
            height: 38px;
            line-height: 38px;
            color: #009688;
        }

        .skuCloseBtn{
            position: absolute;
            top: -7px;
            left: 80%;
            width: 20px;
            height: 20px;
            background: #ddd;
            line-height: 20px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }

        .skuCloseBtn i{
            font-size: 12px;
        }

        .layui-table input{
            height: 30px;
        }

    </style>
    </head>
    <body>
    <div id="app" class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md10">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label for="goods_name" class="layui-form-label"><span class="x-red">*</span>商品名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="goods_name" name="goods_name" required lay-verify="required"
                                   placeholder="请输入标题" autocomplete="off" v-model="addData.goods_name" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="goods_name" class="layui-form-label"><span class="x-red">*</span>分类名称</label>
                        <div class="layui-input-block">
                            <input @click='getCategoryId' readonly style="width: 200px;" required  lay-verify="required" type="text" id="goods_category" name="goods_category" placeholder="请选择商品类目" autocomplete="off" class="layui-input">
                            <input id="category_id" type="hidden" v-model="addData.category_id" name="category_id">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">缩略图</label>
                        <div class="layui-input-block">
                            <div @click="uploadPic('#thumbnail')" class="wrap_img">
                                <img id="thumbnail_prev" src="__TMPL__/assets/images/default-thumbnail.png" alt="">
                            </div>
                            <input type="hidden" id="thumbnail" name="thumbnail"
                                   placeholder="请选择缩略图" autocomplete="off"v-model="addData.thumbnail" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品规格</label>
                        <div style="background: #fff;border: 1px #eee solid" class="layui-input-block">
                            <div class="sku_item">

                                <template v-for="(item,index)  in addSkuData">

                                    <div class="item_list">
                                        <div style="padding: 10px;position: relative">
                                            <div class="left_name">
                                                <label >规格名：</label>
                                            </div>
                                            <div class="right_box">
                                                <input style="width: 200px;display: inline-block" type="text" value="item.sku_name" placeholder="请输入规格名" v-model="item.sku_name" autocomplete="off" class="layui-input">
                                                <div @click="deleteAddSkuItem(index)" class="closeBtn"><i class="icon iconfont">&#xe69a;</i></div>
                                            </div>
                                        </div>
                                        <div class="bg_white" style="padding: 10px" v-if="item.sku_name != ''">
                                            <div style="position: relative;bottom: 15px;" class="left_name">
                                                <label>规格值：</label>
                                            </div>
                                            <div class="right_box">
                                                <div class="layui-row">
                                                    <template v-for="(itemAttr,i) in item.sku_attr">
                                                        <div class="layui-col-xs3">
                                                            <div style="position: relative">
                                                            <input @blur="getValue(index,i,$event)" @change="initTableData()" type="text" placeholder="请输入规格值" autocomplete="off" class="layui-input" value="itemAttr.value" v-model="itemAttr.value">
                                                            <div @click="deleteSkuItem(index,i)" class="skuCloseBtn"><i class="icon iconfont">&#xe69a;</i></div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <div class="layui-col-xs3">
                                                        <a @click="addSkuAttrItem(index)" class="addSkuBtn" href="javascript:;">添加规格值</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </template>

                                <div style="padding: 10px;margin-top: 0;" class="sku_item">
                                    <button type="button" @click="addSkuItem" class="layui-btn"  :disabled="hasMaxSku ? 'disabled':false " :class="hasMaxSku ? 'layui-btn-disabled':''">添加规格</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="tableData.length > 0 && addSkuData[0].sku_name != ''" class="layui-form-item">
                        <label class="layui-form-label">规格明细</label>
                        <div class="layui-input-block">
                            <table class="layui-table">
                                <colgroup>

                                </colgroup>
                                <thead>
                                <tr>
                                    <template v-for="(item,index) in addSkuData">
                                        <th>{{item.sku_name}}</th>
                                    </template>
                                    <th>价格（元）</th>
                                    <th>库存</th>
                                    <th>规格编码</th>
                                    <th>成本价</th>
                                    <th>销量</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <template v-for="(item,index)  in tableData">
                                        <tr>
                                            <template v-for="(itemAttr,index)  in item.sku">
                                                <td>{{itemAttr}}</td>
                                            </template>
                                            <td><input type="text" required  lay-verify="required" placeholder="" v-model="item.price" autocomplete="off" class="layui-input"></td>
                                            <td><input type="text" required  lay-verify="required" placeholder="" v-model="item.SalesVolume" autocomplete="off" class="layui-input"></td>
                                            <td><input type="text" required  lay-verify="required" placeholder="" v-model="item.specNum" autocomplete="off" class="layui-input"></td>
                                            <td><input type="text" required  lay-verify="required" placeholder="" v-model="item.costPrice" autocomplete="off" class="layui-input"></td>
                                            <td>{{item.stock}}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品详情</label>
                        <div class="layui-input-block">
                            <textarea id="details" style="display: none;" v-model="addData.details">{{addData.details}}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">推荐设置</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="is_top" value="1" v-model="addData.is_top" title="置顶" lay-filter="is_top">
                            <input type="checkbox" name="recommended" value="1" v-model="addData.recommended" title="推荐" lay-filter="recommended">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="0" lay-filter="status" v-model="addData.status" title="上架" checked>
                            <input type="radio" name="status" value="1" lay-filter="status" v-model="addData.status" title="下架">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    <include file="public/scripts"/>
    <script>
        
        var app;
        var data = [];
        $(function () {
            app = new Vue({
                el:'#app',
                data:{
                    addData:{
                            goods_name:'',
                            category_id:'',
                            thumbnail:'',
                            details:'',
                            is_top:0,
                            recommended:0
                        }, //商品添加数据
                    addSkuData:[
                        /*{
                            sku_name:'颜色',
                            sku_attr:[
                                {
                                    value:'红色'
                                },
                                {
                                    value:'蓝色'
                                }
                            ]
                        },
                        {
                            sku_name:'内存',
                            sku_attr:[
                                {
                                    value:'32G'
                                },
                                {
                                    value:'64G'
                                }
                            ]
                        }*/
                    ],//全部规格数据
                    tableData:[], // 最终生成的表单数据
                    indexArr:[],
                    skuName:[], //对应的规格键名
                    count:0,
                    hasMaxSku:false
                },
                watch:{
                    addSkuData:{
                        handler(val,old){
                            var that = this;
                            if (val.length >= 3){
                                that.hasMaxSku = true;
                            }
                            else{
                                that.hasMaxSku = false;
                            }

                            console.log('val change');
                            that.initTableData();
                        },
                        //deep:true
                    }
                },
                mounted(){
                    this.init();
                },
                methods:{
                    init:function(){
                        var that = this;
                        layui.use(['form', 'layer', 'jquery', 'layedit'],function () {
                            $ = layui.jquery;
                            var form = layui.form,
                                layer = layui.layer;
                            var layedit = layui.layedit;
                            var index = layedit.build('details', {
                                height: 150
                            }); //建立编辑器

                            //监听checkbox is_top
                            form.on('checkbox(is_top)', function(data){
                                that.addData.is_top = data.elem.checked ? 1 : 0;
                            });

                            //监听checkbox recommended
                            form.on('checkbox(recommended)', function(data){
                                that.addData.recommended = data.elem.checked ? 1 : 0;
                            });

                            //radio status
                            form.on('radio(status)', function(data){
                                that.addData.status = data.value;
                            });

                            //监听提交
                            form.on('submit(add)',function (data) {
                                that.addData.details = layedit.getContent(index);

                                console.log(that.tableData);
                                console.log(that.skuName);
                                that.addData.tableData = that.tableData;
                                that.addData.skuName = that.skuName;
                                console.log(that.addData);
                                //发异步，把数据提交给php
                                var url = "{:url('admin/goods/addPost')}";
                                var data = that.addData;
                                $.post(url,data,function (res) {
                                    //console.log(res);
                                    if (res.code == 1){
                                        layer.msg(
                                            res.msg,
                                            {
                                                time:1500
                                            },
                                            function(){
                                                //do something
                                                window.location.reload();
                                            });
                                    }
                                })
                                return false;
                            });
                        });
                    },
                    initTableData:function(val = ''){
                        var that = this;
                        if (val == ''){
                            val = that.addSkuData;
                        }
                        this.tableData = [];
                        this.indexArr = [];
                        this.count = 0;
                        that.skuName = [];
                        for (i in val){
                            that.skuName[i] = val[i].sku_name;
                        }
                        that.getSkuNextItem(val,0);
                    },
                    getCategoryId:function () {
                        var that = this;
                        var url = "{:url('admin/goods_category/category_api')}";
                        console.log(window.parent.document);
                        var parent = window.parent;
                        parent.layer.open({
                            type: 2,
                            area: ['95%','90%'],
                            title:'选择类目',
                            content: url, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            btn:['确认','取消'],
                            fixed:true,
                            resize:false,
                            move:false,
                            yes: function(index, layero){
                                //do something
                                console.log(window.parent.document);
                                //var body = window.parent.layer.getChildFrame('body', index);
                                iframeWin = window.parent.window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                                var category = iframeWin.getCheckValue();
                                console.log(category);
                                var category_ids = category['category_ids'] ;
                                var category_names = category['category_names'] ;
                                $("#goods_category").val(category_names);
                                //$("#category_id").val(category_ids);
                                that.addData.category_id = category_ids;
                                parent.layer.close(index); //如果设定了yes回调，需进行手工关闭
                            }
                        });
                    },
                    //动态添加规格
                    addSkuItem:function () {
                       var that = this;
                       var data = {
                           sku_name:'',
                           sku_attr:[
                               {
                                   value:''
                               }
                           ]
                       }
                        that.addSkuData.push(data);
                    },
                    //删除当前一项规格
                    deleteAddSkuItem:function (index) {
                        console.log(index);
                        var that = this;
                        that.addSkuData.splice(index,1);
                    },
                    //添加attr一项规格
                    addSkuAttrItem:function (index) {
                        var that = this;
                        var arr = [{
                            value:''
                        }];
                        that.addSkuData[index]['sku_attr'].push(arr);
                    },
                    //删除点中的attr
                    deleteSkuItem:function (index,i) {
                        var that = this;
                        that.addSkuData[index]['sku_attr'].splice(i,1);
                    },
                    //递归获取子项内容
                    getSkuNextItem:function (val,index) {
                        var that = this;
                        var length = val[index]['sku_attr'].length;
                        var levelUp = index + 1;
                        for (var i = 0; i < length; i++) {
                            that.indexArr[index] =  val[index]['sku_attr'][i]['value'];
                            if (levelUp == val.length){
                                var count = that.count;
                                var obj = { 'sku': that.indexArr.slice(0), 'price': '0', 'stock': '0', 'specNum': '0', 'costPrice': '0', 'SalesVolume': '0' }
                                console.log(obj);
                                if (that.tableData[count] === undefined) {
                                    that.tableData.push(obj)
                                }
                                this.count = count + 1
                            }
                            if (levelUp < val.length){
                                that.getSkuNextItem(val,levelUp);
                            }
                        }
                    },
                    //获取当前值是否为空
                    getValue:function (index,i,event) {
                        var value = event.target.value;
                        if (value == ''){
                            this.deleteSkuItem(index,i);
                        }
                    },
                    //上传图片继承
                    uploadPic:function(id,multi = ''){
                        var that = this;
                        var url = "{:url('admin/storage/add')}";
                        uploadConfig['multi'] = multi;
                        layer.open({
                            type: 2,
                            area: ['600px', '400px'],
                            title:'添加图片',
                            content: [url, 'no'], //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            btn:['确认','取消'],
                            fixed:true,
                            resize:false,
                            yes: function(index, layero){
                                //do something
                                //var body = layer.getChildFrame('body', index);
                                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                                var picStr = iframeWin.getJsonStr();
                                console.log(picStr);
                                $("#thumbnail_prev").attr('src',picStr);
                                that.addData.thumbnail = picStr;
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                            }
                        });
                    }
                }
            });
        })

    </script>
    </html>